<!DOCTYPE html>
<html>
<head>
    <title>Donaciones UABC</title>
    <style>

    h2.donacion{
    color: black;
    /* Otros estilos de botón si los tienes */
}
    
        body {
            font-family: Arial, sans-serif;
            background-color: #086B40;
            padding: 50px;
        }
        form {
            background-color: #E1A648;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            border: 2px solid black; /* Borde negro alrededor del formulario */
        }
        h2 {
            color: #333;
            text-align: center;
            margin-bottom: 20px;
        }
        label {
            display: block;
            margin-bottom: 10px;
            color: #black;
        }
        input, select {
            width: 99%;
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 4px;
            border: 1px solid black; /* Borde negro para inputs y select */
            background-color: #E1A648; /* Color de fondo amarillo */
            color: #333; /* Color de texto para mejor contraste */
        }
        button {
            width: 100%;
            padding: 10px;
            border-radius: 4px;
            background-color: #0073e6;
            color: #fff;
            border: none;
            cursor: pointer;
        }
        button:hover {
            background-color: #005bb5;
        }
        a {
            display: block;
            text-align: center;
            margin-top: 20px;
            color: #0073e6;
            text-decoration: none;
        }
    </style>
</head>
<body>

    <h2 class = "donacion">Donaciones UABC</h2>

    <form action="/procesar-donacion" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" required>

        <label for="rfc">RFC:</label>
        <input type="text" name="rfc" required>

        <label for="importe">Importe a donar:</label>
        <input type="number" name="importe" required>

        <label for="metodoPago">Método de Pago:</label>
        <select name="metodoPago" required>
            <option value="tarjeta">Tarjeta de Crédito</option>
            <option value="transferencia">Transferencia Bancaria</option>
        </select>

        <label for="telefono">Teléfono:</label>
        <input type="tel" name="telefono" required>

        <button type="submit">Donar</button>
    </form>

    <a href="/historial-donaciones" class="button" style="color: black;">Historial de Donaciones</a>
</body>
</html>
